---
import { Post } from '../lib/interfaces.ts'
import { filePath } from '../lib/blog-helpers'
import { getPostLink } from '../lib/blog-helpers.ts'

export interface Props {
  post: Post
}

const { post } = Astro.props

let image = ''
if (post.FeaturedImage && post.FeaturedImage.Url) {
  if (import.meta.env.DEV) {
    image = post.FeaturedImage.Url
  } else {
    image = filePath(new URL(post.FeaturedImage.Url))
  }
}
---

{
  image && (
    <div class="relative group">
      <a href={getPostLink(post.Slug)} class="relative rounded overflow-hidden">
        <img src={image} alt="Featured image of the post" class="rounded object-cover w-full aspect-video" />
        <span class="absolute bottom-0 left-0 px-3 py-2 w-full text-white bg-black/80 text-sm font-semibold transition-opacity opacity-0 group-hover:opacity-100">{post.Title}</span>
      </a>
    </div>
  )
}